@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'Antipasto Pro';
  src: url('../fonts/AntipastoPro.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Antipasto Pro';
  src: url('../fonts/AntipastoPro-Medium.ttf') format('truetype');
  font-weight: medium;
}

:root {
  --orange: #ff9800;
  --dark-orange: #ff8300;
  --light-orange: #ffba00;
  --black: #121212;
  --slider-img-transition-delay: 300ms
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 14px;
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Montserrat';
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'Montserrat';
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat';
}

h4 {
  font-size: 18px;
  font-weight: normal;
  font-family: 'Montserrat';
  text-align: center;
}

.container {
  width: 1342px;
  margin: 0 auto;
  padding: 0 24px;
}

/* BUTTONS -> */

a {
  transition: 0.3s ease-in-out;
  color: var(--black);
}

.outlined-btn {
  border: 1px solid var(--black);
}

.anim-border {
  border-radius: 4px;
}

.anim-border:hover {
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.anim-white {
  background-color: white;
  color: var(--black);
}

.anim-white:hover {
  background-color: var(--black);
  color: white;
}

.anim-orange {
  background-color: var(--light-orange);
}

.anim-orange:hover {
  background-color: var(--dark-orange);
}

/* <- BUTTONS */

/* HEADER -> */

header {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 64px;
  align-items: center;
}

.logo-text {
  display: block;
  grid-column: 1 / 6;
  align-items: center;
  font-size: 26px;
  font-family: 'Antipasto Pro';
  font-weight: medium;
  letter-spacing: 0.05em;
}

.logo-text__music {
  display: inline-block;
  padding: 10px;
  background: linear-gradient(90deg, var(--dark-orange) 0%, var(--orange) 100%);
  border-bottom-left-radius: 16px;
  color: #121212;
  font: inherit;
}

.logo-text__tones {
  display: inline-block;
  padding: 10px;
  background: var(--black);
  border-top-right-radius: 16px;
  color: var(--orange);
  margin-left: -8px;
  font: inherit;
}

.header-nav {
  display: flex;
  grid-column: 7 / 14;
}

.header-nav__link {
  display: flex;
  align-items: center;
  padding: 16px 16px 16px 16px;
  font-size: 14px;
  text-transform: uppercase;
}

.header-nav__link img{
  display: inline-block;
  height: 12px;
  margin-left: 6px;
  transition: filter 0.3s ease-in-out;
}

.header-nav__link:hover img {
  filter: brightness(0) invert(1);
}

.header-authn {
  display: flex;
  gap: 16px;
  grid-column: 14 / 17;
  justify-self: end;
}

.header-authn__btn {
  padding: 10px 14px;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: 0.05em;
  color: var(--black);
}

/* <- HEADER */

/* HERO SECTION -> */

.section-hero {
    background: linear-gradient(
    to right,
    var(--dark-orange) 0%,
    var(--light-orange) max(509px, calc(0.5 * 100vw - 170px)),
    var(--black) max(509px, calc(0.5 * 100vw - 170px)),
    var(--black) 100%
  );
}

.hero {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.hero-left{
  position: relative;
  grid-column: 1 / 7;
  overflow: hidden;
}

.hero-left__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-self: start;
  align-items: start;
  line-height: 3.0em;
  padding: 40px 78px 40px 0;
}

.hero-left__cta {
  display: block;
  padding: 6px 16px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 16px;
}

.hero-left__clef {
  position: absolute;
  right: -84px;
  top: 0;
  width: 195px;
  height: 100%;
  background-color: var(--black);
  mask-image: url(../images/clef.png);
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-image: url(../images/clef.png);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}

.hero-right {
  position: relative;
  grid-column: 7 / 17;
  overflow: hidden;
}

/* SLIDER -> */

.slider {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 700px;
  height: 100%;
}

.slider-header {
  position: relative;
  height: 434px;
}

.slider-img {
  position: absolute;
  opacity: 0;
  transition: opacity var(--slider-img-transition-delay) ease-in-out;
  transition-delay: var(--slider-img-transition-delay);
  z-index: 0;
}

.slider-img[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slider-bullets {
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: flex;
  gap: 20px;
  z-index: 1;
}

.slider-bullet {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #808080;
  border: none;
  transition: background-color 0.3s ease-in-out
}

.slider-bullet:hover {
  box-shadow: 0 0 4px 0 #fff;
}

.slider-bullet:checked {
  background-color: #fff;
}

.slider-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
}

.slider-btn:hover {
  filter: brightness(140%);
  box-shadow: 0 0 4px 0 var(--black);
}

.slider-btn:active {
  filter: none;
  box-shadow: none;
}

.slider-header:hover .slider-btn{
  opacity: 1.0;
}

.slider-btn_randomize {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
  background-color: var(--black);
  background-image: url("../images/dice.svg");
  background-position: center;
  transform: translateX(-24px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.slider-header:hover .slider-btn_randomize{
  transform: none;
}

.slider-btn_prev {
  background-image: url("../images/sld-arrow.svg");
  background-position: 45% 50%;
  background-color: transparent;
}

.slider-btn_next {
  background-image: url("../images/sld-arrow.svg");
  background-position: 45% 50%;
  background-color: transparent;
  transform: rotate(180deg);
}

.slider-footer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 24px;
  gap: 80px;
}

.slider-footer__caption{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #fff;
}

.slider-footer__quote {
  position: relative;
  font-size: 18px;
  font-family: 'Montserrat';
  text-align: center;
}

.slider-footer__quote::before {
  content: url(../images/sld-quotes.svg);
  position: absolute;
  left: -14px;

}

.slider-footer__quote::after {
  content: url(../images/sld-quotes.svg);
  position: absolute;
  right: -14px;
  bottom: 0;
  transform: rotate(180deg);
}

/* <- SLIDER */

.hero-right__clef {
  position: absolute;
  top: 0;
  left: -111px;
  width: 195px;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--dark-orange),
    var(--light-orange)
  );
  mask-image: url(../images/clef.png);
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-image: url(../images/clef.png);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}

/* <- HERO */

.cards {
  display: inline-flex;
  gap: 155px;
}

.card {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card-head {
  display: block;
  position: relative;
  z-index: 1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--black); 
  font-size: 0;
  color: var(--black);
}

.card:hover {
  transform: translateY(40px);
}

.card-head__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: filter 0.3s ease-in-out;
}

.card-head:hover .card-head__img {
  filter: brightness(40%);
}

.card-head-text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  padding-top: 10px;
  background-color: var(--light-orange);
  transform: translateY(110%);
  transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.card-head:hover .card-head-text {
  transform: translateY(30%);
  background-color: transparent;
  color: var(--light-orange);
}

.card-head-text__title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-head-text__arrow {
  transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.card-head:hover .card-head-text__arrow {
  transform: rotate(90deg);
  filter: invert(65%) sepia(67%) saturate(1080%) hue-rotate(0deg) brightness(105%) contrast(103%);
}

.card-head-text__desc {
  padding: 0 18px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-head:hover .card-head-text__desc {
  opacity: 1.0;
}

.card-stem {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 320px;
  width: 16px;
  background-color: var(--black);
  z-index: 0;
  transform: translateY(-100px);
}