@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'Antipasto Pro';
  src: url('../fonts/AntipastoPro.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Antipasto Pro';
  src: url('../fonts/AntipastoPro-Medium.ttf') format('truetype');
  font-weight: medium;
}

:root {
  --orange: #ff9800;
  --dark-orange: #ff8300;
  --light-orange: #ffba00;
  --black: #121212;
  --slider-img-transition-delay: 300ms
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 14px;
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Montserrat';
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'Montserrat';
}

h3 {
  font-size: 20px;
  font-weight: medium;
  font-family: 'Open Sans';
}

.container {
  width: 1342px;
  margin: 0 auto;
  padding: 0 24px;
}

.section-tagline {
  padding-bottom: 6px;
  border-bottom: 1px solid var(--black);
}

/* HEADER -> */

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 64px;
  gap: 0 24px;
  align-items: center;
}

.logo-text {
  display: block;
  grid-column: 1 / 5;
  align-items: center;
  font-size: 26px;
  font-family: 'Antipasto Pro';
  font-weight: medium;
  letter-spacing: 0.05em;
}

.logo-text__music {
  display: inline-block;
  padding: 10px;
  background: linear-gradient(90deg, var(--dark-orange) 0%, var(--orange) 100%);
  border-bottom-left-radius: 16px;
  color: #121212;
  font: inherit;
}

.logo-text__tones {
  display: inline-block;
  padding: 10px;
  background: var(--black);
  border-top-right-radius: 16px;
  color: var(--orange);
  font: inherit;
  margin-left: -8px;
}

.header-nav {
  display: flex;
  gap: 46px;
  grid-column: 5 / 11;
  grid-row: 1 / 2;
  font-family: 'Open Sans';
}

.header-nav a {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black);
  opacity: 0.75;
}

.header-nav a:hover {
  opacity: 1.0;
}

.header-authn {
  grid-column: 11 / 13;
  grid-row: 1 / 2;
  justify-self: end;
}

.header-authn a {
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: 0.05em;
  color: var(--black);
  transition: all 0.1s ease-in-out;
}

.header-authn__log-in {
  padding: 10px 16px;
  border: 1px solid var(--black);
  border-radius: 8px;
}

.header-authn__log-in:hover {
  background-color: var(--black);
  color: white;
}

.header-authn__sign-up {
  margin-left: 14px;
  padding: 12px 18px;
  background-color: var(--orange);
  border-radius: 8px;
}

.header-authn__sign-up:hover {
  background-color: var(--light-orange);
}

/* <- HEADER */

/* WELCOME SECTION -> */

.welcome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  align-items: center;
}

.welcome-leftside {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
  align-self: start;
  line-height: 3.0em;
  padding-top: 24px;
  align-items: start;
  gap: 14px;
}

.welcome-leftside__img {
  position: absolute;
  right: -24px;
  top: 0;
  z-index: 0;
}

.free-text {
  border-bottom: 2px solid #121212;
  font-size: inherit;
  font-weight: bold;
}

.cta {
  display: block;
  padding: 6px 16px;
  border-radius: 8px;
  font-size: 16px;
  color: #121212;
  background-color: var(--orange);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  margin-top: 14px;
  z-index: 1;
}

.cta:hover {
  background-color: var(--light-orange);
}


/* <- WELCOME SECTION */

/* SLIDER -> */

#slider {
  grid-column: 5 / 13;
  height: 580px;
  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 24px;
}

.slides {
  position: relative;
  grid-row: 1 / 4;
  grid-column: 1 / 3;
  margin: -24px
}

.slider-img {
  position: absolute;
  opacity: 0;
  transition: opacity var(--slider-img-transition-delay) ease-in-out;
  transition-delay: var(--slider-img-transition-delay);
  z-index: 0;
}

.slider-img[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slider-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--black);
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 2;
}

.slider-btn:hover {
  filter: brightness(140%);
  box-shadow: 0 0 4px 0 var(--black);
}

.slider-btn:active {
  filter: none;
  box-shadow: none;
}

#slider:hover .slider-btn{
  opacity: 1.0;
}

.randomize {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url("../images/dice.svg");
  background-position: center;
  transform: translateX(-24px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#slider:hover .randomize{
  transform: none;
}

.prev {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  place-self: center start;
  background-image: url("../images/sld-arrow.svg");
  background-position: 45% 50%;
  opacity: 0;
  transform: translateX(-24px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#slider:hover .prev {
  transform: none;
}

.next {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  place-self: center end;
  background-image: url("../images/sld-arrow.svg");
  background-repeat: no-repeat;
  background-position: 45% 50%;
  transform: translateX(24px) rotate(180deg);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#slider:hover .next {
  transform: rotate(180deg);
}

.slider-bullets {
  position: relative;
  display: flex;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  place-self: end end;
  gap: 20px;
  z-index: 2;
}

.slider-bullet {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #808080;
  border: none;
  transition: background-color 0.3s ease-in-out
}

.slider-bullet:hover {
  box-shadow: 0 0 4px 0 #fff;
}

.slider-bullet:checked {
  background-color: #fff;
}

/* <- SLIDER */

.cards {
  display: inline-flex;
  gap: 155px;
}

.card {
  position: relative;
  transition: transform 0.3s ease-in-out;
}


/* .history {
  top: 180px
}

.basics {
  top: 80px
}

.harmony {
  top: 180px
} */

.card-head {
  display: block;
  position: relative;
  z-index: 1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--black); 
  font-size: 0;
  color: var(--black);
}

.card:hover {
  transform: translateY(40px);
}

.card-head__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: filter 0.3s ease-in-out;
}

.card-head:hover .card-head__img {
  filter: brightness(40%);
}

.card-head-text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  padding-top: 10px;
  background-color: var(--light-orange);
  transform: translateY(110%);
  transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.card-head:hover .card-head-text {
  transform: translateY(30%);
  background-color: transparent;
  color: var(--light-orange);
}

.card-head-text__title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card-head-text__arrow {
  transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.card-head:hover .card-head-text__arrow {
  transform: rotate(90deg);
  filter: invert(65%) sepia(67%) saturate(1080%) hue-rotate(0deg) brightness(105%) contrast(103%);
}

.card-head-text__desc {
  padding: 0 18px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-head:hover .card-head-text__desc {
  opacity: 1.0;
}

.card-stem {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 320px;
  width: 16px;
  background-color: var(--black);
  z-index: 0;
  transform: translateY(-100px);
}



/*

.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;

  padding-top: 34px;
  padding-bottom: 34px;
}

.cards {
  display: flex;
  column-gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 310px;
  border-radius: 14px;
  overflow: hidden;
  color: var(--black)
}

.card-desc {
  height: 101px;
  display: flex;
  flex-direction: column;
  background: var(--light-orange);
  gap: 8px;
  padding: 10px 14px 14px 14px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card:hover .card-desc{
  background-color: var(--black);
  color: var(--light-orange);
}

.card__image {
  width: 100%;
  transition: filter 0.3s ease-in-out;
}

.card:hover .card__image {
  filter: brightness(50%)
}

.card-desc__title {
  position: relative;
}

.card-desc__title::after{
  content: "";
  background: transparent url("../images/card-arrow.png") no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateX(8px) translateY(-50%);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  filter: brightness(30%);
}

.card:hover .card-desc__title::after{
  transform: translateX(16px) translateY(-50%);

}

.card-desc__quote {
  letter-spacing: -0.01em;
}

*/

