@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Shift + Alt + A - block comment/uncomment */ 

*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 14px;
  box-sizing: border-box;
  font-size: inherit;
}

.container {
  width: 1342px;
  margin: 0 auto;
  padding: 0 24px;
}

/* HEADER -> */

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 64px;
  gap: 0 24px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  grid-column: 1 / 5;
  gap: 8px;
  grid-row: 1 / 2;
}

.logo__icon {
  height: 48px;
}

.logo{
  margin-left: 5px;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #121212;
}

.logo-text__music {
  /* font-family: 'Antipasto Pro'; */
  padding: 6px;
  background: linear-gradient(90deg, #FF8C00 0.05%, #FF9800 100%);
  border-bottom-left-radius: 10px;
}

.logo-text__tones {
  padding: 6px;
  background: #121212;
  border-top-right-radius: 10px;
  color: white;
}

.header-nav {
  grid-column: 5 / 11;
  grid-row: 1 / 2;
}

.header-nav a + a {
  margin-left: 46px;
}

.header-nav a {
  font-size: 14px;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.75;
}

.header-nav a:hover {
  opacity: 1.0;
}

.header-authn {
  grid-column: 11 / 13;
  grid-row: 1 / 2;
  justify-self: end;
}

.header-authn a + a {
  margin-left: 20px;
}

.header-authn a {
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #121212;
}

.header-authn__log-in {
  border: 1px solid #121212;
}

.header-authn__sign-up {
  background-color: #FFAC32;
}

.header-authn__sign-up:hover {
  background-color: #FFA013; 
}

/* <- HEADER */

/* WELCOME SECTION -> */

.welcome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0 24px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.welcome-leftside {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  align-self: start;
  margin-right: 62px;
  font-family: 'Montserrat';
  line-height: 2.6em;
}

.welcome-headline {
  font-weight: medium;
  font-size: 30px;
}

.welcome-tagline {
  font-weight: 400;
  font-size: 24px;
  margin-top: 15px;
}

.free-text {
  border-bottom: 2px solid #121212;
  font-weight: bold;
}

.cta {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 4px;
  margin-top: 40px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #121212;
  background-color: #FFAC32;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.cta:hover {
  background-color: #FFA013;
}

.slider {
  grid-column: 5 / 13;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: right;
}

.slider > img {
  border-radius: 30px;
  max-width: 100%;
  max-height: 100%;
} 

/* <- WELCOME SECTION */

/* STUDY SECTION --> */

.test-button {
  display: block;
  width: 100px;
  height: 50px;
}

/* <- STUDY SECTION */